@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");

:root {
  --color-green: rgb(0, 98, 0);
  --color-red: rgb(143, 0, 0);
  --color-yellow: rgb(163, 163, 0);
  --color-blue: rgb(0, 0, 133);
}

* {
  margin: 0; padding: 0; box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(87, 87, 87);
  display: flex;
  align-items: center;
  justify-content: center;
}

#game {
  max-width: 500px;
  max-height: 500px;
  width: 90vw;
  height: 90vw;
  background-color: rgb(8, 8, 8);
  box-shadow: -3px 3px 8px rgba(8, 8, 8, .5);
  border-radius: 50%;
  padding: min(2rem, 8vw);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: min(1.5rem, 4vw);
  
  position: relative;
  pointer-events: none;
}

#game.play {
  pointer-events: visible;
}

#game::after, #play-button {
  color: #fff;
  text-transform: uppercase;
  font-family: "Squada One", Arial, Helvetica, sans-serif;
  font-size: min(3rem, 10vw);
  letter-spacing: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 200px;
  max-height: 200px;
  width: calc(90vw / 2.5);
  height: calc(90vw / 2.5);
  background-color: rgb(8, 8, 8);
  border-radius: 50%;

  position: absolute;
  top: calc(50% - min(90vw / 2.5, 200px) / 2); /* centralize */
  left: calc(50% - min(90vw / 2.5, 200px) / 2); /* centralize */
}

#game::after {
  content: "Simon";
  z-index: 10;
}

#play-button {
  flex-direction: column;
  gap: min(.5rem, 2vw);
  z-index: 12;
  animation: pulse 1.5s infinite ease-in-out;
  pointer-events: visible;
}

#play-button > i {
  font-size: min(2rem, 7vw);
}

.is-hidden {
  display: none !important;
}

.pads, #play-button {
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.pads {
  border-radius: 1rem;
}

.pads[data-index="1"] {
  background-color: var(--color-green);
  border-top-left-radius: 100%;
}
.pads[data-index="2"] {
  background-color: var(--color-red);
  border-top-right-radius: 100%;
}
.pads[data-index="3"] {
  background-color: var(--color-yellow);
  border-bottom-left-radius: 100%;
}
.pads[data-index="4"] {
  background-color: var(--color-blue);
  border-bottom-right-radius: 100%;
}

.pads:active, .pads.active {
  filter: brightness(2);
  box-shadow: inset 4px 4px 5px rgba(0, 0, 0, .5), inset -4px -4px 5px rgba(0, 0, 0, .5);
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}